* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}


header {
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: black;
}

li {
    list-style: none;
}

.logo {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
}

.logo img {
    height: 100px;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_right {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.back {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}

.back img {
    object-fit: cover;
    width: 100%;
    opacity: .4;
}

.main_text {
    font-size: 40px;
    font-weight: 600;
    width: 50%;
    padding-left: 10%;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.about {
    margin-top: 15%;
}

.about h2 {
    text-align: center;
    font-size: 60px;
}

.main_text2 {
    font-size: 40px;
    font-weight: 600;
    width: 50%;
}

.center2 {
    width: 100%;
    display: flex;
    align-items: center;   
    padding: 5% 10%;
    justify-content: space-between;
}

.center2 img {
    height: 700px;
}

.main_text3 {
    font-size: 40px;
    font-weight: 600;
    width: 50%;
    padding-left: 10%;
}

.center3 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.photo {
    width: 100%;
    padding: 0 5%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.photo img {
    width: 30%;
    transition: .4s;
}

.photo .right:hover {
    transform: scale(1.5);
    transform-origin: right 50%;
}

.photo .left:hover {
    transform: scale(1.5);
    transform-origin: left 50%;
}

.photo img:hover {
    transform: scale(1.5);
}
h4 {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

h3 {
    font-size: 40px;
}

.contact {
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width:430px) {
    .back {
        height: 100vh;
    }

    .back img {
        height: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .header_right {
        width: 100%;
    }

    .main_text {
        font-size: 30px;
        font-weight: 600;
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }

    .center {
        width: 100%;
        margin-top: 30%;
    }

    .about {
        margin-top: 40%;
    }

    .main_text2 {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }

    .center2 img {
        display: none;
    }

    .formobile {
        width: 100%;
        content: url(../Templates/IMG_7075.JPG);
        object-fit: contain;
        margin-top: 15%;
    }

    .main_text3 {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        padding: 0 5%;
        text-align: center;
    }

    .center3 {
        width: 100%;
    }

    .photo {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 80vh;
    }

    .photo img {
        width: 80%;
    }

    .photo .right:hover {
        transform: scale(1.5);
        transform-origin: 50%;
    }
    
    .photo .left:hover {
        transform: scale(1.5);
        transform-origin: 50%;
    }

    .contact h3 {
        font-size: 20px;
    }
}
